.footer-dashboard {
  background: #6379f4;
  height: 68px !important;
  width: 100%;
  color: #fff;
  margin-top: 30px;
  display: flex !important;
  justify-content: center;
}

.footer-dashboard h6 {
  margin-bottom: 0px;
}

@media (max-width: 614px) {
  .footer-dashboard {
    display: flex;
    flex-direction: column;
    height: 120px;
  }

  .footer-dashboard .left-copyright {
    margin-left: 60px;
  }
}

@media (max-width: 382px) {
  .footer-dashboard .left-copyright,
  .footer-dashboard .right-number,
  .footer-dashboard .right-contact {
    margin-left: 0px !important;
  }
}
