aside {
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  min-height: 100vh;
  width: 280px;
  padding-top: 50px;
  position: relative;
}

aside .main-menu {
  display: flex;
  flex-direction: column;
}

aside .main-menu .menu,
aside .main-menu .active {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  line-height: 31px;
  list-style-type: none;
  color: #3a3d42;
}

aside .main-menu .active {
  border-left: 5px solid #6379F4;
}

aside .main-menu .menu span {
  margin-left: 40px;
}

aside .main-menu .active span {
  margin-left: 35px;
}

aside .main-menu .menu .menu-sidebar,
aside .main-menu .menu h6,
aside .main-menu .active .menu-sidebar,
aside .main-menu .active h6 {
  color: #3a3d42;
  margin-left: 20px;
  /* padding-bottom: 20px; */
  margin-bottom: 0px;
  align-items: center;
}

aside .main-menu .active .menu-sidebar,
aside .main-menu .active h6,
aside .main-menu .active span {
  color: rgba(99, 121, 244, 1);
  font-weight: 500;
}

aside .main-menu .menu .menu-sidebar:focus {
  outline: none;
}

aside .main-menu .menu-logout .menu {
  display: flex;
}

aside .main-menu .menu:hover,
aside .main-menu .active:hover {
  text-decoration: none;
}

aside .main-menu .menu-logout .menu .logout {
  margin-left: 20px;
  cursor: pointer;
}

aside .main-menu .menu a:hover {
  text-decoration: none;
  color: #3a3d42;
}

aside .main-menu .menu-logout {
  position: absolute;
  bottom: 0px;
}

@media (max-width: 1100px) {
  aside {
    margin-top: 20px;
    width: 100%;
    height: 150px;
  }

  aside .main-menu {
    display: flex;
    flex-direction: row;
  }

  aside .main-menu .menu-logout {
    right: 5%;
    top: 33%;
  }
}

@media (max-width: 992px) {
  aside {
    width: 100%;
    height: 180px;
  }

  aside .main-menu {
    display: flex;
    flex-direction: row;
  }

  aside .main-menu .menu-logout {
    left: 0%;
    top: 55%;
  }
}

@media (max-width: 768px) {
  aside {
    width: 100%;
    height: 200px;
  }

  aside .main-menu {
    display: flex;
    flex-direction: row;
  }

  aside .main-menu .menu .menu-sidebar,
  aside .main-menu .menu-logout .menu .logout {
    display: none;
  }

  aside .main-menu .menu span {
    margin-left: 85px;
  }

  aside .main-menu .menu-logout {
    left: 0px;
    bottom: 0px;
  }
}

@media (max-width: 576px) {
  aside {
    height: 150px;
  }

  aside .main-menu .menu span {
    margin-left: 70px;
  }

  aside .main-menu .menu-logout {
    margin-top: -33px;
    margin-left: 350px;
  }
}

@media (max-width: 520px) {
  aside .main-menu .menu span {
    margin-left: 60px;
  }

  aside .main-menu .menu-logout {
    margin-left: 340px;
  }
}

@media (max-width: 492px) {
  aside .main-menu .menu span {
    margin-left: 55px;
  }

  aside .main-menu .menu-logout {
    margin-left: 300px;
  }
}

@media (max-width: 461px) {
  aside .main-menu .menu-logout {
    margin-left: 270px;
  }
}

@media (max-width: 430px) {
  aside .main-menu .menu span {
    margin-left: 50px;
  }
}

@media (max-width: 415px) {
  aside {
    height: 100px;
  }

  aside .main-menu .menu {
    margin-top: -15px;
  }

  aside .main-menu .menu span {
    margin-left: 40px;
  }

  aside .main-menu .menu-logout {
    margin-top: -5px;
    margin-left: 260px;
  }
}

@media (max-width: 379px) {
  aside {
    height: 100px;
  }

  aside .main-menu .menu {
    margin-top: -15px;
  }

  aside .main-menu .menu span {
    margin-left: 44px;
  }

  aside .main-menu .menu-logout {
    margin-top: -6px;
    margin-left: 250px;
  }
}

@media (max-width: 367px) {
  aside .main-menu .menu span {
    margin-left: 42px;
  }

  aside .main-menu .menu-logout {
    margin-top: -6px;
    margin-left: 240px;
  }
}

@media (max-width: 351px) {
  aside .main-menu .menu span {
    margin-left: 40px;
  }

  aside .main-menu .menu-logout {
    margin-top: -6px;
    margin-left: 230px;
  }
}

@media (max-width: 331px) {
  aside .main-menu .menu span {
    margin-left: 35px;
  }

  aside .main-menu .menu-logout {
    margin-top: -6px;
    margin-left: 210px;
  }
}

@media (max-width: 325px) {
  aside {
    height: 100px;
  }

  aside .main-menu .menu {
    margin-top: -15px;
  }

  aside .main-menu .menu span {
    margin-left: 25px;
  }

  aside .main-menu .menu-logout {
    margin-top: -5px;
    margin-left: 200px;
  }
}
